/* CSS 파일의 문자 인코딩 : UTF-8 */
@charset "UTF-8";
/* 웹으로부터 폰트 가져오기 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* 폰트 */
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url(../assets/fonts/NotoSans-Light-39bc3dc0347163b6ddda1d24b334371e.eot);
  src: url(../assets/fonts/NotoSans-Light-39bc3dc0347163b6ddda1d24b334371e.eot) format("embedded-opentype"), url(../assets/fonts/NotoSans-Light-d04dd8702c5cc108a75e99f43ba7fcbb.woff) format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url(../assets/fonts/NotoSans-DemiLight-53abcd80ce413970f785275539cc3dab.eot);
  src: url(../assets/fonts/NotoSans-DemiLight-53abcd80ce413970f785275539cc3dab.eot) format("embedded-opentype"), url(../assets/fonts/NotoSans-DemiLight-0cebeac099c6b89e86bdc5a41622181a.woff) format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url(../assets/fonts/NotoSans-Regular-0589d1a2545498ab34da041416b4a3a9.eot);
  src: url(../assets/fonts/NotoSans-Regular-0589d1a2545498ab34da041416b4a3a9.eot) format("embedded-opentype"), url(../assets/fonts/NotoSans-Regular-53e1309e4fc9372afba4fd8f872a7aa5.woff) format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  src: url(../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot);
  src: url(../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot) format("embedded-opentype"), url(../assets/fonts/NotoSans-Medium-024dc32a28bc99fe1a3e5f7628989a65.woff) format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url(../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot);
  src: url(../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot) format("embedded-opentype"), url(../assets/fonts/NotoSans-Medium-024dc32a28bc99fe1a3e5f7628989a65.woff) format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url(../assets/fonts/NotoSans-Bold-160e617ab431e6e945fe8186a2e63bb0.eot);
  src: url(../assets/fonts/NotoSans-Bold-160e617ab431e6e945fe8186a2e63bb0.eot) format("embedded-opentype"), url(../assets/fonts/NotoSans-Bold-a123e4ed0d51aa4487d91274a452a981.woff) format("woff"); }

    /* 폰트색 */
.txt-blue-light {
  color: #5b8ebd; }

.txt-mint {
  color: #48d4d3; }