/* CSS 파일의 문자 인코딩 : UTF-8 */
@charset "UTF-8";
/* 웹으로부터 폰트 가져오기 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* 기본태그의 공통사항 정의 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

img {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 0; }


/* 폰트 */
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 200;
  src: url('../assets/fonts/NotoSans-Light-39bc3dc0347163b6ddda1d24b334371e.eot');
  src: url('../assets/fonts/NotoSans-Light-39bc3dc0347163b6ddda1d24b334371e.eot') format("embedded-opentype"), url('../assets/fonts/NotoSans-Light-d04dd8702c5cc108a75e99f43ba7fcbb.woff') format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 300;
  src: url('../assets/fonts/NotoSans-DemiLight-53abcd80ce413970f785275539cc3dab.eot');
  src: url('../assets/fonts/NotoSans-DemiLight-53abcd80ce413970f785275539cc3dab.eot') format("embedded-opentype"), url('../assets/fonts/NotoSans-DemiLight-0cebeac099c6b89e86bdc5a41622181a.woff') format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 400;
  src: url('../assets/fonts/NotoSans-Regular-0589d1a2545498ab34da041416b4a3a9.eot');
  src: url('../assets/fonts/NotoSans-Regular-0589d1a2545498ab34da041416b4a3a9.eot') format("embedded-opentype"), url('../assets/fonts/NotoSans-Regular-53e1309e4fc9372afba4fd8f872a7aa5.woff') format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 500;
  src: url('../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot');
  src: url('../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot') format("embedded-opentype"), url('../assets/fonts/NotoSans-Medium-024dc32a28bc99fe1a3e5f7628989a65.woff') format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 600;
  src: url('../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot');
  src: url('../assets/fonts/NotoSans-Medium-57efe8cefcd18f317aee1a426c22d08f.eot') format("embedded-opentype"), url('../assets/fonts/NotoSans-Medium-024dc32a28bc99fe1a3e5f7628989a65.woff') format("woff"); }
@font-face {
  font-family: 'NotoSansKR';
  font-weight: 700;
  src: url('../assets/fonts/NotoSans-Bold-160e617ab431e6e945fe8186a2e63bb0.eot');
  src: url('../assets/fonts/NotoSans-Bold-160e617ab431e6e945fe8186a2e63bb0.eot') format("embedded-opentype"), url('../assets/fonts/NotoSans-Bold-a123e4ed0d51aa4487d91274a452a981.woff') format("woff"); }


/* 기본태그의 공통사항 정의2 */
html {
  width: 100%;
  min-width: 71.4285714286rem;
  font-family: 'NotoSansKR', Arial, sans-serif;
  font-size: 14px;
  color: #121212;
  line-height: 1; }
  html body {
    width: 100%; }
  html .roboto {
    font-family: 'Roboto','NotoSansKR',sans-serif; }

button {
  cursor: pointer; }

img {
  max-width: 100%; }

/* 슬라이더 관련 CSS Start */
.slider, .slider2 {
  position: relative;
  overflow: hidden; }
  .slider .ico-next, .slider2 .ico-next {
    cursor: pointer;
    right: -0.7142857143rem;
    padding: 0.3571428571rem 0.7142857143rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 5;
    outline: none; }
  .slider .ico-prev, .slider2 .ico-prev {
    cursor: pointer;
    left: -0.7142857143rem;
    padding: 0.3571428571rem 0.7142857143rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 5;
    outline: none; }
  .slider .swiper-pagination-bullet, .slider2 .swiper-pagination-bullet {
    width: 0.8571428571rem;
    height: 0.8571428571rem;
    background: #1e457c;
    margin: 0 0.3571428571rem !important;
    outline: none; }
  .slider .swiper-pagination, .slider2 .swiper-pagination {
    position: static;
    padding-top: 2.1428571429rem; }
/* 슬라이더 관련 CSS End */

/* '다이노스 영상' 및 '다이노스 포토' 관련 CSS Start */
.gall .img {
  position: relative;
  display: block;
  width: 100%;
  height: 10.1428571429rem;
  background: #efefef;
  overflow: hidden; }
  .gall .img img {
    position: absolute;
    left: 50%;
    width: 100%;
    height: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.gall .txt {
  display: block;
  box-sizing: border-box;
  padding: 1.0714285714rem 0.9285714286rem 1.7857142857rem; }
.gall .title {
  box-sizing: border-box;
  height: 5.6rem;
  overflow-y: hidden;
  display: block;
  line-height: 1.6;
  font-size: 0.9285714286rem;
  color: #222;
  word-break: keep-all;
  padding-bottom: 1.1428571429rem;
  font-weight: 500; }
.gall .date {
  font-size: 0.8571428571rem;
  color: #646464; }

/* '다이노스 영상' 및 '다이노스 포토' 관련 CSS End */

/* 페이지 전반에 사용되는 아이콘들 */
.ico {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 100%; }
  .ico.ico-more {
    background-image: url("https://www.ncdinos.com/assets/images/ico_more-b159ffb3fda5683a5593fbbe8b5cde85.png"); }
  .ico.ico-next {
    background-image: url("https://www.ncdinos.com/assets/images/ico_next-26e5df3256448909aeeb286bd6f9e63c.png"); }
  .ico.ico-prev {
    background-image: url("https://www.ncdinos.com/assets/images/ico_prev-7e46cff3654a4e6f76618a8f6beff667.png"); }
  .ico.ico-more {
    width: 2.1428571429rem;
    height: 2.1428571429rem; }
  .ico.ico-next, .ico.ico-prev {
    width: 0.7142857143rem;
    height: 1.2857142857rem;
    background-size: 0.7142857143rem; }
  .ico.ico-people, .ico.ico-faq, .ico.ico-computer {
    width: 6.4285714286rem;
    height: 6.4285714286rem; }


.swiper-button-disabled {opacity: 0; cursor: default;}

/* //Test */
.swiper-slide {
  display: flex;
  background-color: yellowgreen;
  justify-content: center;
  align-items: center;
}
.swiper-slide:nth-child(1) { background: red; }
.swiper-slide:nth-child(2) { background: green; }
.swiper-slide:nth-child(3) { background: blue; }
